<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>A video has been uploaded by, <%= @person.name %></h1>
    <p>
      <%= @person.name %> has uploaded a video titled: <%= @video.title %>
      <%= @person.name %> gets "10 points" for uploading this video.<br/>
    </p>
  </body>
</html>