<%= semantic_form_for ([@video, @review]) do |form| %>
    <%= form.inputs do %>
            <% form.input :content, :input_html => { :class => 'autogrow', :rows => 5 } %>
    <% end %>
    <%= form.buttons do %>
            <%= form.commit_button :button_html => { :value => "Submit" } %>
    <% end %>
<% end %>
<p class = "text_value">200 characters left</p>
<p id = "minimum_met">Minimum characters met</p>